<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtstudio.projetomeuapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/meu_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastrarServicoActivity"
            android:label="@string/cadastrar_servico" />
        <activity
            android:name=".ServicoAbertoActivity"
            android:label="@string/servico_aberto" />
        <activity
            android:name=".ServicoFechadoActivity"
            android:label="@string/servico_fechado" />
        <activity
            android:name=".AssumirOSActivity"
            android:label="@string/assumir_os" />
    </application>

</manifest>